body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-family: 'Oxanium', cursive;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
}

.jumbotron {
  margin-bottom: 1rem;
}

.title {
  font-family: 'Oxanium', cursive;
  margin: 0;
  padding: 0;
}

.authors {
  font-family: 'Bellota', cursive;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.image {
  padding: 1rem 0 0 0;
}

.description {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 1rem 3rem 0 0;
}

.book-container {
  border: 1px solid rgba(0,0,0,.4);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  border-radius: 2px;
  margin-bottom: 1rem;
  padding: 1rem;
}

@media (max-width: 1000px) {
  .container {
     width: 100%;
     max-width: none;
  }
  .description {
    padding: 1rem;
  }
}



/* ----
font-family: 'Roboto', sans-serif;
font-family: 'Oxanium', cursive;
font-family: 'Bellota', cursive;
font-family: 'Titillium Web', sans-serif;
---- */